:root {
  --color-primary: var(--el-color-primary);
  --color-border: var(--el-color-primary-light-6);
  --color-shandow: var(--el-color-primary-light-8);
  --bg-color-primary: var(--el-color-primary-light-8);
}
